body{
	background-image: url("sustainable.jpg");
    background-repeat: no-repeat;
     /*background-size: 250px;*/
     background-position: center;
}
.jumbotron{
	/*color: lightgreen;*/
	/*font-style:italic;*/
	font-family: "Times New Roman", Times, serif;
}
li{
	text-transform: capitalize;
	line-height: 1.5;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:20px;
}
table{
	text-transform:capitalize;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size:20px;
	width:50%;
	
}
table td{
	 border: 1px solid black;
}
